<%= content_for :body_id, "steps" %>

<div class="content-wrapper">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	
	<div class="header">
		Your account is almost ready!
	</div>

	<div class="steps">
		<div class="step clearfix done">
			<div class="info">
				<span class="number">
					<i class="ion-checkmark-circled"></i>
				</span> 
				Connect your Stripe account or create a new one to start receiving payments 
			</div>

			<a href="#" class="disabled button">
				<span>Connect Stripe</span>
			</a>
		</div>
		<div class="step clearfix done">
			<div class="info">
				<span class="number">
					<i class="ion-checkmark-circled"></i>
				</span> 
				Setup your email notification preferences for new payments
			</div>

			<a href="#" class="disabled button">
				<span>Setup notifications</span>
			</a>
		</div>
		<div class="step clearfix">
			<div class="info">
				<span class="number">3</span> 
				Invite your teammates to collaborate with you
			</div>

			<a href="#" class="button">
				<span>Invite teammates</span>
			</a>
		</div>
		<div class="step clearfix">
			<div class="info">
				<span class="number">4</span> 
				Add some products to sell to your customers
			</div>

			<a href="#" class="button">
				<span>Create products</span>
			</a>
		</div>
		<div class="step clearfix">
			<div class="info">
				<span class="number">5</span> 
				Activate your account live into production mode 
			</div>

			<a href="#" class="button">
				<span>Go live!</span>
			</a>
		</div>
	</div>
</div>