/* Used in user-profile.html page for the user info right sidebar */

@include keyFrame(showProfileInfo) {
  0% {
    right: -23%;
  }

  100% {
    right: 0;
  }
}


/* Fade in left for wizard steps */

@keyframes fadeInLeftStep {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftStep {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeftStep {
  animation-name: fadeInLeftStep;
}

/* Fade in right for wizard steps */

@keyframes fadeInRightStep {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRightStep {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRightStep {
  animation-name: fadeInRightStep;
}


/* Fade out left for wizard steps */

@keyframes fadeOutLeftStep {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@keyframes fadeOutLeftStep {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-40px);
  }
}

.fadeOutLeftStep {
  animation-name: fadeOutLeftStep;
}

/* Fade out right for wizard steps */

@keyframes fadeOutRightStep {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}

@keyframes fadeOutRightStep {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}

.fadeOutRightStep {
  animation-name: fadeOutRightStep;
}
