<div class="skin-switcher">
	<div class="toggler">
		<span class="brankic-brush"></span>
	</div>
	<ul class="menu">
		<li>
			<a class="active" data-skin="sidebar-default" href="#">
				<span class="color default"></span> Default
				<i class="fa fa-check"></i>
			</a>
		</li>
		<li>
			<a data-skin="sidebar-clear" href="#">
				<span class="color clear"></span> Clear
				<i class="fa fa-check"></i>
			</a>
		</li>
		<li>
			<a data-skin="sidebar-black" href="#">
				<span class="color black"></span> Black
				<i class="fa fa-check"></i>
			</a>
		</li>
		<li>
			<a data-skin="sidebar-dark" href="#">
				<span class="color dark"></span> Dark
				<i class="fa fa-check"></i>
			</a>
		</li>
		<li>
			<a data-skin="sidebar-flat" href="#">
				<span class="color flat"></span> Flat
				<i class="fa fa-check"></i>
			</a>
		</li>
		<li>
			<a data-skin="sidebar-flat-dark" href="#">
				<span class="color flat-dark"></span> Flat dark
				<i class="fa fa-check"></i>
			</a>
		</li>
	</ul>
</div>