<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;"><style type="text/css">
@media only screen and (max-width: 600px) {
	a[class="btn"] {
		display: block !important; margin-bottom: 10px !important; background-image: none !important; margin-right: 0 !important;
	}
	div[class="column"] {
		width: auto !important; float: none !important;
	}
}
</style>

<!-- HEADER -->
<table width="100%" style="width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; background: #405472; margin: 0; padding: 0;" bgcolor="#405472"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
	<td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">

		<!-- /content -->
		<div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 13px 0;">
			<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="color: #fff; text-align: center; font-size: 18px; text-shadow: 1px 1px rgba(0, 0, 0, 0.23); font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" align="center">
				Wolf Admin
			</td>
		</tr></table></div><!-- /content -->

	</td>
	<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
</tr></table><!-- /HEADER --><!-- BODY --><table style="width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 70px;" width="100%" cellspacing="0" bgcolor=""><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
<td align="center" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">

	<table cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0; border-color: #dadada; border-style: solid; border-width: 0px 1px 1px;">

		<!-- content -->
		<div style="max-width: 600px; display: block; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto; padding: 15px 35px;">
			<table cellspacing="0" style="width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="100%"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px 0 0;">
				<p style="font-size: 15px; color: #222; line-height: 22px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; margin: 0 0 10px; padding: 0;">
					Hello <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">John</strong>,
					<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />
					This is a receipt for your payment of <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">$530.00</strong> you 
					made to <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Wolf Admin</strong> 
					<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /> 
					with your card ending in <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">4359</strong>.
				</p>
			</td>
		</tr></table></div><!-- /content -->

		<!-- content -->
		<div style="max-width: 600px; display: block; border-top-style: solid; border-top-width: 3px; border-top-color: #ECECEC; font-size: 14px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto; padding: 35px 35px 15px;">
			<table cellspacing="0" style="width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="100%"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="vertical-align: top; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" valign="top">
				<div style="color: #929292; font-size: 15px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 7px;">
					Payment Date
				</div>

				<strong style="font-size: 14px; display: inline-block; color: #333; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
					Feb 03, 2014
				</strong>
			</td>
			<td style="vertical-align: top; text-align: right; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" align="right" valign="top">
				<div style="color: #929292; font-size: 15px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 7px;">
					Transaction
				</div>

				<strong style="font-size: 14px; display: inline-block; color: #333; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
					8386JKHASUW
				</strong>
			</td>
		</tr></table></div><!-- /content -->

		<!-- content -->
		<div style="max-width: 600px; display: block; font-size: 14px; border-top-width: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto; padding: 25px 35px 15px;">
			<table bgcolor="" cellspacing="0" style="border-top-style: solid; border-top-width: 1px; border-top-color: #ECECEC; width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="100%"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="vertical-align: top; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px 0 0;" valign="top">
				<div style="color: #929292; font-size: 15px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 7px;">
					Payment From
				</div>

				<strong style="font-size: 15px; display: inline-block; color: #333; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px;">
					John Williams
				</strong>

				<div style="color: #222; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
					john@gmail.com
				</div>

			</td>
			<td style="vertical-align: top; text-align: right; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px 0 0;" align="right" valign="top">
				<div style="color: #929292; font-size: 15px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 7px;">
					Payment To
				</div>
				<strong style="font-size: 15px; display: inline-block; color: #333; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px;">Wolf Admin</strong>
				<div style="color: #222; line-height: 19px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
					3rd Street 3054
					<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />
					San Francisco
					<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />
					559380
					<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />
					USA
				</div>
			</td>
		</tr></table></div><!-- /content -->

		<!-- content -->
		<div style="max-width: 600px; display: block; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto; padding: 45px 35px 60px;">
			<table bgcolor="" cellspacing="0" style="width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="100%"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="vertical-align: top; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 10px;" valign="top">
				<div style="font-weight: 600; font-size: 13px; color: #A3A3A3; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
					Description
				</div>
			</td>
			<td style="vertical-align: top; text-align: right; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 10px;" align="right" valign="top">
				<div style="font-weight: 600; font-size: 13px; color: #A3A3A3; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
					Unit Price
				</div>
			</td>
		</tr><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="border-top-width: 3px; border-top-style: solid; border-top-color: #ECECEC; vertical-align: top; color: #252525; font-size: 15px; line-height: 23px; width: 70%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 18px 0;" valign="top">
		<div class="item" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
			Wolf Admin Bootstrap Theme
		</div>
	</td>
	<td style="border-top-width: 3px; border-top-style: solid; border-top-color: #ECECEC; vertical-align: top; color: #252525; font-size: 15px; line-height: 23px; width: 30%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 18px 0;" valign="top">
		<div style="color: #666; text-align: right; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" align="right">
			$22.00
		</div>
	</td>
</tr><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="border-bottom-style: solid; border-bottom-color: #ECECEC; border-bottom-width: 3px; vertical-align: top; color: #252525; font-size: 15px; line-height: 23px; width: 70%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 18px 0;" valign="top">
<div class="item" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
	Admin Plugin Extensions
</div>
</td>
<td style="border-bottom-style: solid; border-bottom-color: #ECECEC; border-bottom-width: 3px; vertical-align: top; color: #252525; font-size: 15px; line-height: 23px; width: 30%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 18px 0;" valign="top">
	<div style="color: #666; text-align: right; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" align="right">
		$5.99
	</div>
</td>
</tr><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="text-align: right; color: #666; font-size: 18px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 25px 0 0;" colspan="2" align="right">
Total
<span style="display: inline-block; color: #52c375; font-weight: 600; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 0 20px;">
	$27.99
	<span style="color: #A2E2B6; font-size: 13px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">(USD)</span>
</span>
</td>
</tr></table></div><!-- /content -->

<!-- content -->
<div style="max-width: 600px; display: block; border-top-color: #e9ebed; border-top-style: solid; border-top-width: 1px; font-size: 14px; text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; background: #f8f9fa; margin: 0 auto; padding: 15px 35px;" align="center">
	<table bgcolor="" cellspacing="0" style="width: 100%; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 25px 0;" width="100%"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
		<div style="color: #6A6C70; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px;">
			For any doubts you can contact us at 
		</div>
		<span style="color: #61a1e1; text-decoration: underline; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
			wolfadmin@themes.com
		</span>
	</td>
</tr></table></div><!-- /content -->

</td>
</tr></table></td>
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
</tr></table><!-- /BODY --></body>
</html>
