<h4 class="heading">Welcome <strong><%= @resource.display_name %></strong>!</h4>

<p class="info">You can confirm your account email through the link below.</p>

<center>
<table class="button verify-button">
  <tr align="left">
    <td align="center">
      <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
    </td>
  </tr>
</table>
</center>
