<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr align="left">
                  <td class="center" align="center" valign="top">
                    <span class="logo">Wolf Admin</span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<br>
